
  <div class="jumbotron">
  <h2> Questions </h2>
  <div class="row">
  <% @questions = @questions.sort_by{|c| c.created_at}.reverse %>
  <% @questions.each do |question| %>
  <div class="col-LG-6">
  <h4>
  <a class="btn btn-default" align="middle" href="/questions/<%= question.id %>" float="left">Ask!</a>
  <%= question.title %>
</h4>
  </div>
  <% end %>
  <br>
  </div>
  </div>
