<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="/js/welcome.js"></script>
<script src="/js/welcome-today.js"></script>
<script src="/js/themes/grid-light.js"></script>



  <% if signed_in? %>
  <div class="welcome-back">
    Welcome back, <%= current_user.first_name %>

    <div class="row">
      <div class="large-6 columns">
        <div id="welcome-yesterday"></div>
      </div>
      <div class="large-6 columns">
        <div id="welcome-today"></div>
      </div>

    </div>
  </div>
    <% else %>
    <div class="mainquote">
    "Excellence is an art won by training and habituation.<br>
    We are what we repeatedly do.<br>
    Excellence, then, is not an act but a habit."<br>
    -Aristotle
  </div>
    <% end %>
