<%= form_for(@personal_habit_completion) do |f| %>
  <% if @personal_habit_completion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@personal_habit_completion.errors.count, "error") %> prohibited this personal_habit_completion from being saved:</h2>

      <ul>
      <% @personal_habit_completion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
